.authComponent {
  background-color: #080710;
  height: 100vh;
  width: 100vw;
}

.background {
  width: 1000px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: 150px;
  top: -150px;
}

.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: 150px;
  bottom: -130px;
}

.form {
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 25px 35px;
}

.form h3 {
  font-size: 32px;
  text-align: center;
  margin: 0;
  color: var(--color-white);
}

.input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  font-size: 24px;
  padding: 0 10px;
  color: var(--color-white);
}

.labels label {
  font-size: 22px;
  color: var(--color-white);
}

.labels {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  text-align: left;
}

.containerButtons {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
}

.text {
  color: var(--color-white);
  font-size: 18px;
}

.spanText {
  margin-left: 10px;
  color: var(--color-orange);
}

.spanText:hover {
  text-decoration: underline;
  cursor: pointer;
}

.submitButton {
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--color-orange);
  border-radius: 10px;
  font-weight: 600;
  display: block;
  margin-left: 20px;
}
