.main {
  text-align: left;

  &__subtitle {
    margin-top: 20px;
    color: #696969;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;

    &__searchBox {
      width: 360px;
      height: 44px;
      background-color: white;
      border-radius: 20px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__input {
        font-size: 24px;
        padding: 0 5px;
        border: none;
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    color: black;
    background-color: white;
    border-radius: 10px;
  }
}
